@media (max-width: 600px){
.responsive-table{
    display: none;
}
.table-none{
    display: block;
}
.cont-table{
    padding-bottom: 1rem;
    height: auto;
    background-repeat: repeat-y;
}
}
@media (max-width: 400px){
.table{
    font-size: 22px;
}
}